.header {
    width: 100%;
    height: 100%;
}

.section {
    width: 1720px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.logo {
    flex: 1;
    padding: 0 0 0 30px;
    line-height: 2.75;
    font-size: 36px;
}

.nav {
    flex: 8;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav ul li{
    margin: 0 15px;
    line-height: 6.25;
    font-size: 16px;
}

.sns {
    flex: 1;
}

.sns ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.sns ul li {
    line-height: 6.25;
    margin-right: 30px;
    font-size: 16px;
}




